body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiAppBar-colorPrimary {
  background-color: #1976d2 !important;
}
.clock {
  display: flex;
  justify-content: center;
}
.text-center {
  display: flex;
  color: white;
  font-weight: bolder;
  justify-content: center !important;
}
.inner-pad {
  padding: 1em !important;
}
.content {
  display: flex !important;
}
.containerx {
  padding: 2em;
}
